Replace anchor based URLs with query string based URLs

This is important since it appears [Confluence doesn't support external URLs with anchors](https://community.atlassian.com/t5/Confluence-questions/Unable-to-insert-an-external-web-link-containing-an-anchor/qaq-p/776192), meaning we can't link to a pre-filtered Catalogue from Confluence right now.

This does not appear to be fixed.  For example:

```
https://rawgit.com/finos/finos.github.io/staging/index.html#/?sort=hotness-down
```

is still using an anchor (the '#' character at position 60).

There is an anchor in the URL, but the req. parameters come afterwards; tested the link in Confluence and works as expected.

The current format is not using a query string at all.  It's using an anchor (aka fragment, denoted by the "#" character) that happens to include data that appears to resemble a query string.

Please refer to [RFC-3986 section 3](https://tools.ietf.org/html/rfc3986#section-3) for the formal specification of the URI syntax, in particular taking note that the fragment (denoted by "#") must come **after** the query string (denoted by "?").

Note also that the "new" (though still incorrect) URL format (e.g. `https://finos.github.io/#/?programShortName=Financial%20Objects&sort=hotness-down`) also does not function when inserted into Confluence.

See the "Foundation's Catalogue" link on [this Confluence page](https://finosfoundation.atlassian.net/wiki/spaces/FO/overview), for example.

Seems to be fixed now, but I'd prefer for some testing, before closing the issue again; @pmonks , can you please check https://rawgit.com/finos/finos.github.io/staging/index.html?programShortName=Financial%20Objects and confirm?