Language icons should be displayed in order of size, descending

So for example this card should show the Clojure icon first, since that's the repository's primary language:

![image](https://user-images.githubusercontent.com/54865/39411279-dff63f44-4bbb-11e8-8af4-8c004e4b39d4.png)


The JS logic is currently following the order established by the activities.json . I think it would be easier (and better) to fix it on the JSON generation, rather than on the parsing. WDYT @pmonks ?

@maoo that's not possible, since ordering within a Javascript object (aka "map" or "dictionary") is not defined (cf [RFC-7159, section 1, paragraph 4](https://tools.ietf.org/html/rfc7159#section-1)).  So it doesn't matter how the languages are physically ordered within the `activities.json` file, there is no guarantee how they will be ordered once they're loaded by the JS code in the catalogue.

That said, a better solution may be to use a more appropriate data structure here e.g. an (ordered) list of languageName,sizeCount tuples.

Done. Tested on https://rawgit.com/finos/finos.github.io/staging/index.html